<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Excluir Categoria</title>
</head>
<body>
    <div class="dashboard">
        <h1>Excluir Categoria</h1>        
    
        <p>Tem certeza de que deseja excluir a categoria "{{ categoria['nome'] }}"?</p>
        
        <form method="POST">
            <button type="submit">Confirmar Exclusão</button>
        </form>

        <!-- Botão de retorno para outra página -->
        <a href="{{ url_for('listar_categorias') }}">Cancelar</a>
    </div>
</body>
</html>
