<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Lista de Categoria</title>
</head>
<body>
    <div class="dashboard">
        <h1>LIstar categoria</h1>
        {% for categorias in categorias %}

        <ul>
        <li>
        {{categorias['nome']}}
        {{categorias['descricao']}}
        </li>
        </ul>

        {% endfor %}
    </div>
</body>
</html>
