<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Painel de Controle</title>
</head>
<body>
    <div class="dashboard">
        <h1>Painel de Controle</h1>
        <ul>
            <li><a href="{{ url_for('listar_categorias') }}">Listar Categorias</a></li>
            <li><a href="{{ url_for('cadastrar_categoria') }}">Cadastrar Categoria</a></li>
            <!-- Adicione mais opções do painel de controle aqui -->
        </ul>
    </div>
</body>
</html>
