<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
                      
    <title>Cardápio do Restaurante</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="logo.png" alt="Logo do Restaurante">
        </div>
        <nav>
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">Cardápio</a></li>
                <li><a href="#">Reservas</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </header>


{% block content %}{% endblock %}




    <footer>
        <div class="social-icons">
            <a href="#"><img src="facebook-icon.png" alt="Facebook"></a>
            <a href="#"><img src="instagram-icon.png" alt="Instagram"></a>
            <a href="#"><img src="twitter-icon.png" alt="Twitter"></a>
        </div>
        <p>Desenvolvido por Seu Nome &copy; 2023</p>
    </footer>
</body>
</html>
